<ul nz-menu [nzMode]="'horizontal'" [nzSelectable]="false">
  <li nz-menu-item routerLink="/index" [nzSelected]="router.url === '/index'">
    <img src="assets/images/logo.png" alt="" class="header-logo">
  </li>
  <li nz-menu-item routerLink="/menu" [nzSelected]="router.url.startsWith('/menu')">
    <i nz-icon type="bars" theme="outline"></i>
    {{ 'home.menu.menu.title' | translate }}
  </li>
  <li nz-menu-item routerLink="/message" [nzSelected]="router.url.startsWith('/message')">
    <i nz-icon type="message" theme="outline"></i>
    {{ 'home.menu.message.title' | translate }}
  </li>
  <li nz-menu-item routerLink="/material" [nzSelected]="router.url.startsWith('/material')">
    <i nz-icon type="picture" theme="outline"></i>
    {{ 'home.menu.material.title' | translate}}
  </li>
  <li nz-menu-item routerLink="/follower" [nzSelected]="router.url.startsWith('/follower')">
    <i nz-icon type="user" theme="outline"></i>
    {{ 'home.menu.follower.title' | translate}}
  </li>
  <li nz-menu-item routerLink="/statistic" [nzSelected]="router.url.startsWith('/statistic')">
    <i nz-icon type="bar-chart" theme="outline"></i>
    <nz-badge nzDot>
      {{ 'home.menu.statistic.title' | translate}}
    </nz-badge>
  </li>
  <!--<li nz-menu-item class="float-right">
    <i class="anticon anticon-login"></i>
    登录
  </li>-->
  <li nz-menu-item class="float-right">
    <nz-dropdown [nzPlacement]="'bottomRight'">
      <span nz-dropdown>
        Admin <i nz-icon type="down" theme="outline"></i>
      </span>
      <ul nz-menu nzSelectable>
        <li nz-menu-item>
          <a routerLink="/system/profile">
            <i nz-icon type="user" theme="outline"></i>
            &nbsp;个人信息
          </a>
        </li>
        <li nz-menu-item>
          <a>
            <i nz-icon type="logout" theme="outline"></i>
            注销
          </a>
        </li>
      </ul>
    </nz-dropdown>
  </li>
</ul>
