<ul nz-menu [nzMode]="'horizontal'" [nzSelectable]="false">
  <li nz-menu-item routerLink="/index" [nzSelected]="router.url === '/index'">
    <img src="assets/images/logo.png" alt="" class="header-logo">
  </li>
  <li nz-menu-item routerLink="/project" [nzSelected]="router.url.startsWith('/project')">
    <i nz-icon type="appstore" theme="outline"></i>
    {{ 'home.menu.project.title' | translate }}
  </li>
  <li nz-menu-item routerLink="/user" [nzSelected]="router.url.startsWith('/user')">
    <i nz-icon type="user" theme="outline"></i>
    {{ 'home.menu.user.title' | translate }}
  </li>
  <li nz-menu-item routerLink="/team" [nzSelected]="router.url.startsWith('/team')">
    <i nz-icon type="team" theme="outline"></i>
    {{ 'home.menu.team.title' | translate}}
  </li>
  <li nz-menu-item routerLink="/dashboard" [nzSelected]="router.url.startsWith('/dashboard')">
    <i nz-icon type="dashboard" theme="outline"></i>
    <nz-badge nzDot>
      {{ 'home.menu.dashboard.title' | translate}}
    </nz-badge>
  </li>
  <!--<li nz-menu-item class="float-right">
    <i class="anticon anticon-login"></i>
    登录
  </li>-->
  <li nz-menu-item class="float-right">
    <nz-dropdown [nzPlacement]="'bottomRight'">
      <span nz-dropdown>
        Admin <i nz-icon type="down" theme="outline"></i>
      </span>
      <ul nz-menu nzSelectable>
        <li nz-menu-item>
          <a routerLink="/system/profile">
            <i nz-icon type="user" theme="outline"></i>
            &nbsp;个人信息
          </a>
        </li>
        <li nz-menu-item>
          <a>
            <i nz-icon type="logout" theme="outline"></i>
            注销
          </a>
        </li>
      </ul>
    </nz-dropdown>
  </li>
</ul>
