nz-footer {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
}

nz-content {
  padding: 0 50px;
}

nz-header {
  background: transparent;
  padding: 0;
}

.layout {
  min-height: 100%;
  position: relative;
}

nz-spin {
  padding-bottom: 69px;
}
